/*  ------------------------------------ universal properties ------------------------------------ */

h1, h2, h3, p ul, ol {
    margin: 0;
    padding: 0;
}
  
section ul, section ol {
    list-style-type: none;
}
  
img {
    max-width: 100%;
    height: auto;
    display: block
}
  
body{
    font-family: 'Poppins';
    background-color: #121212;
    color:white;
} 

li a:hover{
    cursor: url("images/music-cursor.png"), auto;
}

/*  ------------------------------------ header  ------------------------------------ */
header{
    margin-bottom: 6em;
}

.gradient {
    position: absolute;
    display: block;
    width: 100vw;
    height: auto;
    object-fit: cover;
}

.header-content{
    display: flex;
    position: relative;
    top: 60px;
    align-items: center;
    gap: 4em;
    margin: auto 6em auto 6em;
}

.header-content p{
    color: #ABB1BE;
}

/*  ------------------------------------ sections  ------------------------------------ */
main{
    display: flex;
    gap: 6em;
    margin: auto 3em auto 3em;
    justify-content: center;
    /* border: solid 2px fuchsia; */

}

section img{
    padding-bottom: 10px;
}

main h2{
    text-align: center;
    padding-bottom: 10px;
}

main ul{
    padding: 0;
}

main li{
   padding-top: .5em;
   margin: 0;
}

hr{
    width: 201px;
    height: 2px;
    background: #333841;
    border: 0;
    /* margin: 1em; */
}

main a{
    color: white;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 12px;
}

main a:hover{
    /* color: #1CD760; */
    border-radius: 6px;
    background: linear-gradient(180deg, #32363E 0%, #2E2F32 100%);
    box-shadow: 0px 4px 9.1px 0px rgba(0, 0, 0, 0.25);
    transform: scale(1.1);
    transition: transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


/*  ------------------------------------ footer  ------------------------------------ */
footer{
    display: flex;
    align-items: center;
    gap: 2em;
    justify-content: center;
    margin-top: 2em;
}

footer a{
    color: white;
    text-decoration: none;
}

footer a:hover{
    color: #1CD760;
    text-decoration: underline;
}

.musicbar {
    position: fixed;
    bottom: 60px;
    left: 300px;
    right: 300px;
    height: 6px;
}

.bar-bg {
    background-color: #4D4C4C;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.bar-foreground {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    width: 0%;
    height: 100%;
    border-radius: 10px;
    animation: moveBar 40s linear infinite;
}

@keyframes moveBar {
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}