/*  ------------------------------------ universal properties ------------------------------------ */

h1, h2, h3, p ul, ol {
    margin: 0;
    padding: 0;
}
  
section ul, section ol {
    list-style-type: none;
}
  
img {
    max-width: 100%;
    height: auto;
    display: block;
}
  
body{
    font-family: 'DM Sans';
    background-image: url("images/madlibs-bg.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color:white;
} 

header img{
    margin: 8.5em 2em 2em 6em;
    max-width: 100%;
}

/*  ------------------------------------  main/form ------------------------------------ */
main{
    display: flex;
    gap: 120px;
    justify-content: center;
}

label{
    color: rgba(255, 255, 255, 0.70);
}

form{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    height: 100vh;
    padding-left: 6em;
    padding-right: 6em;

    border-radius: 36px 0px 0px 36px;
    border: 0px solid #050D41;
    background: rgba(1, 1, 39, 0.53);
    box-shadow: -2px 4px 9.4px 0px rgba(1, 0, 67, 0.69);
    backdrop-filter: blur(7.449999809265137px);
}

select{
    border: none;
    background-color: rgba(217, 217, 217, 0.00);;
    border-bottom: 1px solid white;
    color: white;
    margin-bottom: 3em;
    height: 50px;

}

input{
    color: white;
    height: 30px;
    border: none;
    background-color: rgba(217, 217, 217, 0.00);
    border-bottom: 1px solid white;
    margin-bottom: 3em;
}

input[type=text]:focus{
    outline: none;
}

.numbers{
    display: flex;
    gap: 20px
}

form button{
    /* margin-top: 4em; */
    margin-left: auto;
    margin-right: auto;
    background-color:  rgba(217, 217, 217, 0.00);
    color: white;
    border: 1px solid white;
    border-radius: 35px;
    padding: 1em;
}

#madlib-output{
    display: none;
}
/*  ------------------------------------  footer ------------------------------------ */
footer{
    margin: auto auto auto 6em;
}