/*  ------------------------------------ universal properties ------------------------------------ */

h1, h2, h3, p ul, ol {
    margin: 0;
    padding: 0;
}
  
section ul, section ol {
    list-style-type: none;
}
  
body{
    font-family: 'Poppins';
    color: rgb(7, 141, 114);
    background-color:white;
} 

/*  ------------------------------------ text ------------------------------------ */
h1{
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

/*  ------------------------------------ images ------------------------------------ */
.container img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 150px;
    padding: 2em;
    /* border: 2px solid blue;
    background-color: blue; */
}

.container{
    position: relative;
    margin: 10em auto;
    width: 250px;
    height: 250px;
    /* border: 2px solid red; */
}

.button{
    display: flex; 
    justify-content: center;   
    align-items: center;
}

button{
    font-size: 1em;
    color: rgb(7, 141, 114);
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(7, 141, 114);
    border-radius: 30px;
    padding: 0.5em;
    z-index: 1;
    transition: transform 100ms ease;
}

button:hover{
    transform: scale(1.1);
}