/*  ------------------------------------ universal properties ------------------------------------ */

h1, h2, h3, p ul, ol {
    margin: 0;
    padding: 0;
}
  
section ul, section ol {
    list-style-type: none;
}
  
img {
    min-width: 374px;
    width: 100%;
    height: auto;
    display: block;
    flex-shrink: 0;
}
  
body{
    font-family: 'DM Sans';
    background-image: url("images/madlibs-bg.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color:white;
} 


/*  ------------------------------------  main/form page ------------------------------------ */
#main-page{
    display: flex;
    /* display flex when active */

    gap: 120px;
    justify-content: center;
}

header img{
    margin-top: 36%;
    margin-left: 30%;
}

label{
    color: rgba(255, 255, 255, 0.70);
}

#madlib-questions{
    display: flex;
    margin-left: auto;
}

form{
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    height: 100vh;
    width: 650px;
    padding-left: 6em;
    padding-right: 6em;

    border-radius: 36px 0px 0px 36px;
    border: 0px solid #050D41;
    background: rgba(1, 1, 39, 0.53);
    box-shadow: -2px 4px 9.4px 0px rgba(1, 0, 67, 0.69);
    backdrop-filter: blur(7.449999809265137px);
}

select{
    border: none;
    background-color: rgba(217, 217, 217, 0.00);;
    border-bottom: 1px solid white;
    color: white;
    margin-bottom: 2em;
    height: 50px;
}

input{
    color: white;
    height: 30px;
    border: none;
    background-color: rgba(217, 217, 217, 0.00);
    border-bottom: 1px solid white;
    margin-bottom: 2em;
}

input:focus{
    outline: none;
}

select:focus{
    outline: none;
}

select option{
    background-color: rgba(8, 17, 66, 0.6);
}


.numbers{
    display: flex;
    gap: 20px
}

form button{
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    background-color:  rgba(217, 217, 217, 0.00);
    color: white;
    border: 1px solid white;
    border-radius: 35px;
    padding: 1em;

    transition: all 500ms ease-in-out;
}

form button:hover{
    transform: scale(1.1);
    font-weight: bold;
    border: 2px solid white;
}

form p{
    margin: 0;
    padding-bottom: 14px;
}

/*  ------------------------------------  madlibs output ------------------------------------ */

#output{
    display: block;

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    padding: 5em 5em 2em 5em;
    
    border-radius: 36px 36px 0px 0px;
    border-top: 1px solid #050D41;
    border-right: 1px solid #050D41;
    border-left: 1px solid #0e1858;
    background: rgba(1, 1, 39, 0.53);
    box-shadow: -2px 4px 9.4px 0px rgba(1, 0, 67, 0.69);
    backdrop-filter: blur(7.449999809265137px);

    width: 600px;
   
}

#output p{
    line-height: 1.5em;
    font-weight: 300;
    font-size: 18px;
    margin: 1.4em;
}

span{
    font-weight: 900;
}

.showing{
    visibility: visible;
    opacity: 1;
}

.hidden{
    visibility: hidden;
    opacity: 0;
}
